
/*
*	popup balloon fix for Semantic Maps
*/
.maps-map img {
	max-width: none;
}
.maps-map label {
	width: auto;
	display: inline;
}
 

/*
*	subpages (TODO: this should be in common/commonInterface.css)
*/
span.subpages {
	display: block;
	font-size: 12px;
}

/*
* horizontal lists
*/
ul.horizontal li {
	display: inline;
	list-style-type: none;
	padding-right: 5%;
}

/*
*	edit form
*/
form#editform {
	width: 100%;
}
form#editform textarea {
	width: 100%;
}

/*
*	footer
*/
.footer {
	font-size: 0.85em;
	margin-top: 45px;
	padding: 15px 0 15px;
	border-top: 1px solid #e5e5e5;
}
.footer p {
	margin-bottom: 0;
	color: #555;
}

/*
* icon paddings
*/
.icon-user {
	margin-right: 4px;
}
.caret {
 	margin-left: 4px;
}

/*
* pad headings
*/
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
}

/*
* wiki red links
*/
a.new {
	color: pink;
}

/* Adding back the external link icon*/
a.external.text {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC") no-repeat scroll right center transparent;
    padding-right: 13px;
}

/* Fixing Semantic Mediawiki Factbox Links*/
span.swmfactboxheadbrowse a {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAA5FBMVEUAAADb3uv///+gqcBJYqGTmq24v9KJkamboLBtfqOnrbuSmqyqr7yVnK3o6e3n6OrKzdaWna7O0NWMlKiQl6qWm6yRma3DxczEyM+Olqyeo7J+iaamq7qZoLGMlKrg4eiYobqFjqfBxMyQl6hXbaGXnK+hprmcobPEx9BZbaGkqriIkayjp7d1g6iztsSytsZzf6GcobSaobjq6++Umq5abZ6aoLJre6NqeqJ7hqfg4umvtsp0g6h9iaff4el3hKVld6aUoL6wt8meo7SXnbCUm66Jkqnq6+64usRfcqOxs8Dm5+teFG05AAAAAXRSTlMAQObYZgAAAH9JREFUeF4dymMSRDEABOGZ5HFt27Zt3v8+m833r6saSqDl6aSC0ELhXN7r80egVBYZRmOMJ5LAIV0lsy55LRRRKlNYbs0SrDfQpBCybUgh2EXvH4aOPgZDtRkjtY0nmM7m5HtJrtYbYLvb07Z5PJ2hXMybad4fEtrz5TifL4AfAxMLmJTt7hwAAAAASUVORK5CYII=") no-repeat scroll right center transparent;
  color: #000000;
  margin-right: 2px;
  padding-right: 16px;
}

span.rdflink {
    float: right;
}

span.rdflink a {
    background: url("data:image/gif;base64,R0lGODlhEQASAIQeAIWjzhpTo0h1tvH0+SpeqUh1tWeMwjlqr+Hp89Ld7cLR5rPG4RpSo8PS53aYyDhpr5Wv1FiBvO/z+KS62uDo8ileqWaMwXWXx7LF4KO62pSu1FeAu9Hc7P///wtHnQtHnSH+FUNyZWF0ZWQgd2l0aCBUaGUgR0lNUAAh+QQBAAAfACwAAAAAEQASAAAFU+AnjuQneKhQriclpSvJSC/qxaNX2/hn/6pY6udRAX03k82Y6dROJKjI01H8VknfDoXNbbmkougEBC+DZDES1aHAcChKZ9nzza89HbGefvfSDh8hADs=") no-repeat scroll right center transparent;
    color: #888888;
    padding-right: 20px;
}

span.smwsearch a {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAABC1BMVEU+S114jayTpb6Im7eMn7qhsceBlbOYqcKXp8GDl7N2i6rJ0uCYqcJogKB9kq+KnLipt81qgKF8kK9qgKF4jayntstheJpsgqOSo75RaIxWbpCIm7fAy9tlfJ5keptedZdHXX5bcpWBlbOersajssmVp79lfJ5thKN2i6phd5lTa45GW3lPZ4plfJ5le5xRaYxbcpV3jKt2i6pWbpBKYoVOZolSao2HmrZ4jaxTa45JYYRJYYSHmrZedZdFWnhTa45ieZtVbZCzv9Lm6/Ha4Onp7fKks8rb4uvf5e3h5u7X3um2wtXQ2OTAy9vW3efl6fCmtcrJ0uDGz96jssm5xdaruc6uu8+9yNnt8PXd7KeZAAAAQnRSTlMACfbevtlP8sRPTv2lFfRF2Cz1A7jZLdG4HFbm/q8vBAxjxO/syrHaxk0EByM4NyUrutRNBAI6xeJdADjU4QFO3NoNTLabAAAAgklEQVR4XjXH0xbDQBAA0Alr27Zt7W6S2vr/L2nmtL1vFziTyBuMDg6QWTjfCZFkD8ar7rXL1WK1Yey7rcbWG6cL4yaH44kqPj8m8Hwx+qbBECYciTKqqLF4Qk8ylc5kc/lCsVTWV6nW6o1m69HudOGr1x+Q4Qh+xpPpbQZ/88Vy9QFskBI3DTJY0wAAAABJRU5ErkJggg==") no-repeat scroll right center transparent;
  color: #888888;
  margin-right: 2px;
  padding-right: 16px;
}

span.editsection {
	font-size: 18px;
}

/** 
* no-collapse override
* source: https://gist.github.com/2046174
*/

            .navbar .pull-right .dropdown-menu:before {
                left: auto;
                right: 12px;
            }
            .navbar .pull-right .dropdown-menu:after {
                left: auto;
                right: 13px;
            }
            @media (max-width: 979px) {
                .navbar .dropdown-menu.no-collapse {
                    background-color: #ffffff;
                    border-color: rgba(0, 0, 0, 0.2);
                    border-radius: 4px;
                    border-style: solid;
                    border-width: 1px;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                    display: none;
                    float: left;
                    margin: 0;
                    padding: 4px 0;
                    position: absolute;
                    top: 100%;
                }
                .navbar .dropdown-menu.no-collapse:before,
                .navbar .dropdown-menu.no-collapse:after {
                    display: block;
                }
                .navbar .dropdown-menu.no-collapse li + li a {
                    margin-bottom: 0;
                }
                .navbar .dropdown-menu.no-collapse .divider {
                    display: list-item;
                }
                .navbar .dropdown-menu.no-collapse a {
                    border-radius: 0;
                    color: #333333;
                    font-weight: normal;
                    padding: 3px 15px;
                }
                .navbar .dropdown-menu.no-collapse a:hover,
                .navbar .dropdown-menu.no-collapse .active a,
                .navbar .dropdown-menu.no-collapse .active a:hover {
                    background-color: #0088cc;
                    color: #ffffff;
                }


